<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('header/head')%>
</head>
<body id ="page-body" onload="showLikeOnload();showDislikeOnload();showLikeCount (),showDislikeCount ()">
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-9">
    <title><%-postData [0].post_content %></title>
    <!-- Single button -->
    <div class="btn-group">
    <button type="button" id ="shouldBeHide" class ="button-profile-more" onclick="history.back()"> Back </button>
    </div>
    <hr>
    <div id ="show-more-button"></div>
    <div id ="post-show">
      <img src="<%-postData [0].image %>" id="imgDetail" class ="lozad imgShow" onError="this.onerror=null;this.src='/files/imgs/download.png';"alt="Los Angeles">
      <div style=" margin-left: 17px; width: 475px; float: left;">
        <p id ="post-react" style="color: white; font-size: 14pt; margin-bottom: -15px;">&nbspComment</p>
        <hr >
        <div class="commentSector">
          <textarea name="" id="" class = "form-control" cols="30" rows="3" placeholder="Comment"></textarea>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-3" id ="side-fel">
    <div class="horiScoll">
        <button type="button" id ="tag-show" class ="button-profile-more" onclick="loadSimilar()"> Similar </button>
        <input type="hidden"  id ="show-dislike" value="">
        <button type="button" id ="dislike-insert" name = "<%-postData [0].post_id %>" class ="button-profile-more" onclick="dislikeInsert(this.name);showDislikeCount ()"> Dislike </button>
        <button type="button" id ="dislike-remove" name = "<%-postData [0].post_id %>" class ="button-profile-more" onclick="dislikeRemove(this.name);showDislikeCount ()"> Disliked </button>
        <button type="button" id ="like-insert" name = "<%-postData [0].post_id %>" class ="button-profile-more" onclick="likeInsert(this.name);showLikeCount ()"> Like </button>
        <button type="button" id ="like-remove" name = "<%-postData [0].post_id %>" class ="button-profile-more" onclick="likeRemove(this.name);showLikeCount ()"> Liked </button>
        <button type="button"  class ="button-profile-more" name = '<%-postData [0].post_id %>'onclick="loadDetail (this.name)"> Detail </button>
    </div>
    <hr>
    <div class="app-follow-show">
    </div>
    </div>
    </div>
    </div>
</body>
<script>
  const scrollContainer = document.querySelector(".horiScoll");
    scrollContainer.addEventListener("wheel", (evt) => {
    evt.preventDefault();
    scrollContainer.scrollLeft += evt.deltaY;
});
</script>
</html>


