<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('header/head')%>
</head>
<input type="text"  id ="username" value="<%-postData [0].username %>" hidden>
<body id ="page-body" onload="showLikeOnload();showLikeCount ();autoCreateUser($('#username').val())">
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-9">
    <title><%-postData [0].post_content %></title>
    <!-- Single button -->
    <div class="btn-group">
    <button type="button" id ="shouldBeHide" class ="button-profile-more" onclick="history.back()"> Back </button>
    </div>
    <hr>
    <div id ="show-more-button"></div>
    <div id ="post-show">
      <img src="<%-postData [0].image %>" id="imgDetail" class ="lozad imgShow" onError="this.onerror=null;this.src='/files/imgs/download.png';"alt="Los Angeles">
      <div style=" margin-left: 17px; width: 475px; float: left;">
        <p id ="post-react" style="color: white; font-size: 14pt; margin-bottom: -15px;">&nbspComment</p>
        <hr >
        <div class="commentSector">
          <% if (session == ''|| session == 'nonSignUser') {%><%}else {%>
            <textarea name="" id="" class = "form-control" cols="30" rows="3" placeholder="Comment"></textarea>
          <%}%>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-3" id ="side-fel">
      <input type="text" name="" id="getAuthor"  value = "<%-postData [0].username%>" hidden>
    <div class="horiScoll">
        <button type="button" id ="similar-show" class ="button-profile-more" name = "<%-postData [0].post_tag%>" onclick="loadPostBySimilar(this.name,$('#getAuthor').val())"> Similar </button>
        <button type="button" id ="detail-show" class ="button-profile-more" name = '<%-postData [0].post_id %>' style ="display: none;" onclick="showLikeOnload() ;loadDetail (this.name);showLikeCount ()"> Detail </button>
        <input type="hidden"  id ="show-dislike" value="">
        <!-- <button type="button" id ="dislike-insert" name = "<%-postData [0].post_id %>" class ="button-profile-more" onclick="dislikeInsert(this.name);showDislikeCount ()"> Dislike </button>
        <button type="button" id ="dislike-remove" name = "<%-postData [0].post_id %>" class ="button-profile-more" onclick="dislikeRemove(this.name);showDislikeCount ()"> Disliked </button> -->
        <% if (session == ''|| session == 'nonSignUser') {%><%}else {%>
        <button type="button" id ="like-insert" class ="button-profile-more" onclick="likeInsert();"> Like </button>
        <%}%>
    </div>
    <hr>
    <div class="app-follow-show">
    </div>
    </div>
    </div>
    </div>
</body>
<script>
  const scrollContainer = document.querySelector(".horiScoll");
    scrollContainer.addEventListener("wheel", (evt) => {
    evt.preventDefault();
    scrollContainer.scrollLeft += evt.deltaY;
});
</script>
</html>


