<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40-basic</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body onload=" 
    catchUrl('/login', 'content', 'login');
    catchUrl('/login', 'apps', 'login');
    catchUrl('/home', 'login', 'content');
    catchUrl('/home', 'apps', 'content');
    catchUrl('/apps', 'content', 'apps');
    catchUrl('/apps', 'login', 'apps');">
    <%- include('header/head')%>
        <div id="content">
            <%- include('home')%>

                <h1>Hello from Ejs</h1>
                <%=dataUser %>
        </div>
        <%- include('login')%>
            <%- include('apps')%>

</body>

</html>